:root {
  --primary-color: #60d0c3;
  --light-color: #fff;
  --bg-color-light: #f3f7f7;
  --bg-color: #e5eaea;
  --bg-color-shade: #bdc3c3;
  --dark-color: #010101;
  --text-color: #686868;
  --text-color-light: #aeaeae;
  --text-color-lighter: #d0d0d0;
  --border-color: #ddd;
  --shadow-sm: 0 4px 12px rgba(0, 0, 0, 0.16);
}
body {
  padding: 0;
  margin: 0;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
}
body * {
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  background-color: var(--bg-color-light);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  width: 100%;
  position: relative;
  min-height: 300px;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-color);
}

.header .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.9;
}

.header .title {
  margin: 0;
  position: relative;
  color: var(--light-color);
  text-transform: uppercase;
  font-weight: 800;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.36);
}

.todo-input {
  background-color: var(--bg-color);
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transform: translateY(-150%);
  max-width: 450px;
  padding: 0 10px;
  border-radius: 8px;
  box-shadow: var(--shadow-sm);
}
.todo-input input {
  width: 100%;
  height: 50px;
  padding: 0 12px;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 300;
}
.todo-input input::placeholder {
  color: var(--text-color-light);
  font-size: 16px;
  font-weight: 300;
}
.todo-input button.add {
  height: 50px;
  padding: 0 12px;
  background-color: var(--primary-color);
  color: var(--light-color);
  border: none;
  border-radius: 25px;
  padding: 0 32px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.todo-list-wrapper {
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  transform: translateY(-32px);
}

.todo-list {
  background-color: var(--light-color);
  box-shadow: var(--shadow-sm);
  border-radius: 8px;
  margin-bottom: 32px;
}

.todo-list-wrapper .title {
  font-size: 16px;
  font-weight: 700;
  margin: 0 0 16px;
  padding: 0;
}
.todo-list .list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}
.todo-list .list .todo {
  padding: 16px;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.todo-list.completed .list .todo {
  padding: 4px 16px;
}
.todo-list .list .todo:first-child {
  border-radius: 8px 8px 0 0;
}
.todo-list .list .todo:last-child {
  border-radius: 0 0 8px 8px;
}
.todo-list .list .todo .text {
  font-size: 22px;
  color: var(--text-color);
  font-family: "Dancing Script", cursive;
}
.todo-list .list .todo .actions {
  display: flex;
  gap: 10px;
}
.todo-list .list .todo .actions .icon {
  background-color: transparent;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  border-radius: 4px;
  cursor: pointer;
  opacity: 0.6;
}
.todo-list .list .todo .actions svg {
  width: 20px;
  height: 20px;
  fill: var(--dark-color);
}
.todo-list .list .todo.completed .text {
  text-decoration: line-through;
}
